<div>
    <div class="col-xs-4">
        <img class="poster-path" ng-src="{{image_url}}/w342/{{movie.poster_path}}" alt="poster">
    </div>
    <div class="col-xs-8">
        <h3>{{movie.title}}</h3>
        <p>{{movie.overview}}</p>
        <p ng-if="movie.isWatched === true">
            <p>Rating: <star-rating-comp rating="movie.rating" size="'large'" num-of-stars="5" on-click="starChange($event, movie)"></star-rating-comp></p>
        </p>
        <p ng-if="movie.isWatched === false">
            <button ng-click="switchWatched(movie)" class="btn btn-default">I watched it!</button>
        </p>
    </div>
</div>