.nav-btn {
  cursor: pointer; }

#search-container {
  margin-bottom: 2.5%; }

.input-group-addon:first-child {
  top: 0px; }

.movie .poster_path {
  height: 253px; }

.movie .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.movie .overview {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis; }

body {
  background-color: lightblue; }
